env.py
gptest.js
logs.txt
notes
.vscode
/venv
__pycache__
/audio
kawaii_wow.mp3
teleo.txt
greetingList.txt
kaze.txt
throgg.txt
zheal.txt
brood.txt
wow.mp3
wow01.mp3
wowEddy.mp3
wowOwen01.mp3
wowOwen02.mp3
main copy.py